<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6776ad">  <td>16/09/22 14:00:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SearchHotelsTest.beforemethod()[pri:0, instance:Test.SearchHotelsTest@58ea606c]">&gt;&gt;beforemethod</td> 
<td>&nbsp;</td>  <td>main@1970982267</td>   <td></td> </tr>
<tr bgcolor="6776ad">  <td>16/09/22 14:00:40</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchHotelsTest.test01()[pri:0, instance:Test.SearchHotelsTest@58ea606c]">test01</td> 
  <td>main@1970982267</td>   <td></td> </tr>
<tr bgcolor="6776ad">  <td>16/09/22 14:00:52</td>   <td>12487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SearchHotelsTest.beforemethod()[pri:0, instance:Test.SearchHotelsTest@58ea606c]">&gt;&gt;beforemethod</td> 
<td>&nbsp;</td>  <td>main@1970982267</td>   <td></td> </tr>
<tr bgcolor="6776ad">  <td>16/09/22 14:00:52</td>   <td>12607</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchHotelsTest.test02()[pri:0, instance:Test.SearchHotelsTest@58ea606c]">test02</td> 
  <td>main@1970982267</td>   <td></td> </tr>
</table>
