<h2>Reporter output</h2><table><tr><td>Page Title Is: Find Hotel Reviews| Online booking hotels- Tripreviewer.com</td></tr>
<tr><td>Page URL Is: http://dfc2flrtroer5.cloudfront.net/#!/</td></tr>
<tr><td>City Is Present: WASHINGTON
WASHINGTON</td></tr>
<tr><td>Search Button IS Present: findHotels</td></tr>
<tr><td>Page Title Is: Best place to stay in Washington| Washington hotel reviews</td></tr>
<tr><td>Page URL Is: http://dfc2flrtroer5.cloudfront.net/#!/hotels/popular-hotels/Washington-DC/id/30109a443164a266bd67b01b355952c25eb43a04</td></tr>
<tr><td>Hotels Button IS Present: HOTELS</td></tr>
<tr><td>Restaurants Button Is Enabled: RESTAURANTS</td></tr>
<tr><td>Calendar Is Visible: TEXT</td></tr>
<tr><td>Calendar: </td></tr>
<tr><td>Search Box Is Present: text</td></tr>
<tr><td>Modify Button IS Present: FINDHOTELS</td></tr>
<tr><td>No.OF Hotels Present: Showing 0 Hotels</td></tr>
<tr><td>Rooms & Guest Drop Down IS Present: text</td></tr>
</table>